#main {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    background-clip: content-box;
    height: 1800px;
    width: 90%;  
}
.titulo {
    font-size: 5rem;
    text-shadow: 5px 5px 5px antiquewhite;
}
.descripcion {
    font-size: 3rem;
    text-shadow: 3px 3px 3px antiquewhite; 
}
p {
    font-size: 2rem;
    text-shadow: 3px 3px 3px antiquewhite;
    font-weight: 600;
}
#redes {
    margin-top: 90%;
}
.icon {
    border-radius: 100%;
    border: solid 3px antiquewhite;
}
